form
	text-align left
	fieldset
		margin-bottom 20px
	
	input

			outline 0
			&:focus
				border: 2px solid #636363
	select


		&:focus
			border: 2px solid #ababab
	textarea
		padding 10px
		outline none
		&:focus
			border: 2px solid #ababab

.row
	margin-bottom 1.5%
	
.label
	&_radio
		display: inline-block !important
		margin-right: 14px
		line-height: 40px
		text-transform inherit
		
.el-scrollbar__wrap
	overflow: auto !important
	
.el-select-dropdown__wrap
	max-width: 220px